%nav.navbar.navbar-default.navbar-inverse.navbar-static-top{ role: 'navigation' }
  .container
    .navbar-header
      %a.navbar-brand{href: '/tournaments/new'} TableFootball
    .collapse.navbar-collapse.navbar-collapse-top
      %ul.nav.navbar-right.navbar-nav
        %li
          %a
            %span.text PROFILE
            %span.glyphicon.glyphicon-user.icon

        %li
          %a
            %span.text PARTICIPATION
            %span.glyphicon.glyphicon-calendar.icon
